/*    */
.site__entete {
    grid-area: header;
    padding: 1rem clamp(1rem, 3vw, 20rem);
    background-color: antiquewhite;
  }
  
  .site__main {
    grid-area: main;
    overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
  }
  
  .site__footer {
    grid-area: footer;
    background-color: antiquewhite;
  }

  .site__aside{
    grid-area : aside; /* on ne doit pas mettre de guillemet */
    background-color: rgb(191, 220, 238);
  }

  /* body ou  ou un con globale */
  /* configuration mobile */
  .site {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: /* permet de gagner du temps */
      "header"
      "aside"
      "main"
      "footer";
    row-gap: 50px;

    /* config desktop sur 2 colonnes */
    @media screen and (min-width: 1000px) {
      grid-template-columns: 30% auto;
      color: black;
      
      grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    }
        
    } 

/* configuration à une seule colonne.  mdoifie le front-page */
    .no-aside{
      grid-template-areas: /* permet de gagner du temps */
        "header"
        "main"
        "footer";
      row-gap: 50px;

      /* config desktop sur 2 colonnes */
      @media screen and (min-width: 1000px) {
        grid-template-columns: auto;
        color: black;
        
        grid-template-areas:
          "header"
          "main"
          "footer";
      }
    }
